doctype transitional
head
  meta(charset='UTF-8')
  meta(content='width=device-width, initial-scale=1' name='viewport')
  meta(name='x-apple-disable-message-reformatting')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(content='telephone=no' name='format-detection')
  title
  //if (mso 16)
    style(type='text/css').
      a {text-decoration: none;}
  //if gte mso 9
    style.
      sup { font-size: 100% !important; }
  // [if !mso] <!
  link(href='https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i' rel='stylesheet')
  link(rel="stylesheet", href="./reestablecePassword.css")
  // <![endif]
.es-wrapper-color
  //if gte mso 9
    v:background(xmlns:v='urn:schemas-microsoft-com:vml' fill='t')
      v:fill(type='tile' color='#f4f4f4')
  table.es-wrapper(width='100%' cellspacing='0' cellpadding='0')
    tbody
      tr.gmail-fix(height='0')
        td
          table(width='600' cellspacing='0' cellpadding='0' border='0' align='center')
            tbody
              tr
                td(cellpadding='0' cellspacing='0' border='0' style='line-height: 1px; min-width: 600px;' height='0')
                  img(src='https://esputnik.com/repository/applications/images/blank.gif' style='display: block; max-height: 0px; min-height: 0px; min-width: 600px; width: 600px;' alt='' width='600' height='1')
      tr
        td.esd-email-paddings(valign='top')
          table.es-content.esd-header-popover(cellspacing='0' cellpadding='0' align='center')
            tbody
              tr
              tr
                td.esd-stripe(esd-custom-block-id='7962' align='center')
                  table.es-content-body(style='background-color: transparent;' width='600' cellspacing='0' cellpadding='0' align='center')
                    tbody
                      tr
                        td.esd-structure.es-p15t.es-p15b.es-p10r.es-p10l(align='left')
                          //if mso
                            table(width='580' cellpadding='0' cellspacing='0')
                              tr
                                td(width='282' valign='top')
                          table.es-left(cellspacing='0' cellpadding='0' align='left')
                            tbody
                              tr
                                td.esd-container-frame(width='282' align='left')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.es-infoblock.esd-block-text.es-m-txt-c(align='left')
                                          p(style='font-family: arial, helvetica\ neue, helvetica, sans-serif;') Put your preheader text here
                          //if mso
                            td(width='20')
                            td(width='278' valign='top')
                          table.es-right(cellspacing='0' cellpadding='0' align='right')
                            tbody
                              tr
                                td.esd-container-frame(width='278' align='left')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.es-infoblock.esd-block-text.es-m-txt-c(align='right')
                                          p
                                            a(href='http://#' target='_blank' style="font-family: 'arial', 'helvetica neue', 'helvetica', 'sans-serif';") View in browser
                                            br
                          //if mso
          table.es-header(cellspacing='0' cellpadding='0' align='center')
            tbody
              tr
                td.esd-stripe(esd-custom-block-id='6339' style='background-color: rgb(63, 131, 32);' bgcolor='#3f8320' align='center')
                  table.es-header-body(width='600' cellspacing='0' cellpadding='0' align='center')
                    tbody
                      tr
                        td.esd-structure.es-p20t.es-p10b.es-p10r.es-p10l(align='left')
                          table(width='100%' cellspacing='0' cellpadding='0')
                            tbody
                              tr
                                td.esd-container-frame(width='580' valign='top' align='center')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.esd-block-image.es-p25t.es-p25b.es-p10r.es-p10l(align='center')
                                          a(href='' target='_blank')
                                            img(src='https://demo.stripocdn.email/content/guids/c9b4092b-d99f-4ce1-a401-9107a791f4cc/images/88451565765350215.png' alt='' style='display: block;' width='350')
          table.es-content(cellspacing='0' cellpadding='0' align='center')
            tbody
              tr
                td.esd-stripe(style='background-color: transparent;' esd-custom-block-id='6340' bgcolor='transparent' align='center')
                  table.es-content-body(style='background-color: rgb(147, 196, 125);' width='600' cellspacing='0' cellpadding='0' align='center' bgcolor='#93c47d')
                    tbody
                      tr
                        td.esd-structure(align='left')
                          table(width='100%' cellspacing='0' cellpadding='0')
                            tbody
                              tr
                                td.esd-container-frame(width='600' valign='top' align='center')
                                  table(style='background-color: rgb(255, 255, 255); border-radius: 4px; border-collapse: separate;' width='100%' cellspacing='0' cellpadding='0' bgcolor='#ffffff')
                                    tbody
                                      tr
                                        td.esd-block-text.es-p35t.es-p5b.es-p30r.es-p30l(align='center' bgcolor='#fe590b')
                                          h1 Olvidaste tu contrase&ntilde;a?
                                      tr
                                        td.esd-block-spacer.es-p5t.es-p5b.es-p20r.es-p20l(bgcolor='#ffffff' align='center')
                                          table(width='100%' height='100%' cellspacing='0' cellpadding='0' border='0')
                                            tbody
                                              tr
                                                td(style='border-bottom: 1px solid rgb(255, 255, 255); background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; height: 1px; width: 100%; margin: 0px;')
          table.es-content(cellspacing='0' cellpadding='0' align='center')
            tbody
              tr
                td.esd-stripe(align='center')
                  table.es-content-body(style='background-color: rgb(255, 255, 255);' width='600' cellspacing='0' cellpadding='0' bgcolor='#ffffff' align='center')
                    tbody
                      tr
                        td.esd-structure(align='left')
                          table(width='100%' cellspacing='0' cellpadding='0')
                            tbody
                              tr
                                td.esd-container-frame(width='600' valign='top' align='center')
                                  table(style='background-color: rgb(255, 255, 255);' width='100%' cellspacing='0' cellpadding='0' bgcolor='#ffffff')
                                    tbody
                                      tr
                                        td.esd-block-text.es-m-txt-l.es-p20t.es-p15b.es-p30r.es-p30l(bgcolor='#ffffff' align='left')
                                          p Cambiar tu contrase&ntilde;a es f&aacute;cil. Solo haz clic en el bot&oacute;n de abajo y listo!
                                          p Este enlace es temporal. Si vence, vuelve a solicitarlo.
                                          p Si tu no solicitaste este correo puedes ignorarlo.
                      tr
                        td.esd-structure.es-p20b.es-p30r.es-p30l(align='left')
                          table(width='100%' cellspacing='0' cellpadding='0')
                            tbody
                              tr
                                td.esd-container-frame(width='540' valign='top' align='center')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.esd-block-button.es-p40t.es-p40b.es-p10r.es-p10l(align='center')
                                          span.es-button-border(style='background: rgb(63, 131, 32);')
                                            a.es-button(href=`${resetURL}` target='_blank' style='background: rgb(63, 131, 32); border-color: rgb(63, 131, 32);') Reestablecer contrase&ntilde;a
          table.esd-footer-popover.es-content(cellspacing='0' cellpadding='0' align='center')
            tbody
              tr
                td.esd-stripe(align='center')
                  table.es-content-body(style='background-color: transparent;' width='600' cellspacing='0' cellpadding='0' align='center')
                    tbody
                      tr
                        td.esd-structure.es-p30t.es-p30b.es-p20r.es-p20l(align='left')
                          table(width='100%' cellspacing='0' cellpadding='0')
                            tbody
                              tr
                                td.esd-container-frame(width='560' valign='top' align='center')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.esd-block-image.es-infoblock(align='center')
                                          a(target='_blank' href='http://viewstripo.email/?utm_source=templates&utm_medium=email&utm_campaign=software2&utm_content=trigger_newsletter5')
                                            img(src='https://demo.stripocdn.email/content/guids/c9b4092b-d99f-4ce1-a401-9107a791f4cc/images/88451565765350215.png' alt='' width='125' style='display: block;')
