extends ./inventario
 
block contenido
    script
        
        function cargarTabla(data) {
            var html = '';
            if (inventarios)
                each inventario in inventarios
                    $.(data, function (i, item) {
                html += '<tr><td>';
                html += '<div class="input-group">'
                html += '<a href="#" onClick="return item(' + "'" + item.external + "'" + ', 0)" class="btn btn-success">+</a>';
                html += '<input readonly type="text" value="' + item.cantidad + '" class="form-control col-md-5">';
                html += '<a href="#" onClick="return item(' + "'" + item.external + "'" + ', 1)" class="btn btn-danger">-</a>';
                html += '</div></td><td>' + item.nombre + '  [' + item.marca + ']</td>';
                html += '<td>$' + item.precio + '</td>';
                html += '<td>$' + item.precio_total + '</td></tr>';
            });
            $('#carrito tbody').html(html);
        }

        function item(external, tipo) {
            var url = 'http://localhost:9999/agregar' + external;
            url = (tipo == 1) ? 'http://localhost:9999/quitar' + external : url;
            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json',
                success: function (data, textStatus, jqXHR) {
                    mostrarDatos(data);
                    cargarTabla(data);
                }, error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                }
            });
            return false;
        }

        function mostrar() {
            var url = 'http://localhost:9999/listarcarrito';
            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json',
                success: function (data, textStatus, jqXHR) {
                mostrarDatos(data);
                cargarTabla(data);
                }, error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                }   
            });
        }

        $().ready(function () {
            mostrar();
        });
    .section__content.section__content--p30
        .container-fluid
            .row
                .col-md-12
                    .card
                        .card-header
                            i.mr-2.fa.fa-align-justify
                            strong.card-title(v-if='headerText') Carrito
                        .card-body
                            .table-responsive.m-b-40
                                table#carrito.table.table-borderless.table-data3
                                    thead
                                        tr
                                            th Descripción
                                            th Cantidad
                                            th Precio Unitario
                                            th Precio Total
                                    tbody