extends ../formularios

block contenido2  
  section
    form.bg-light.p-5.contact-form(action='/formularios/inventario/crearInventario', method='POST')
      .form-group
        h4 Nombre producto
        input.form-control(name="nombre", type='text', placeholder='Nombre del producto')
        h4 Descripción
        textarea.form-control(name='content' type='text',placeholder='Descripcion del producto')
        h4 Costo unitario
        input.form-control(name="costo", type='text', placeholder='Costo unitario')
        h4 Precio de venta
        input.form-control(name="precio", type='text', placeholder='Precio de venta')
        h4 cantidad
        input.form-control(name="stock", type='text', placeholder='stock')
        h4 Categoria
        if (categorias)
          select(id="inputState" name='categoria1').form-control
            each categoria in categorias
              option.categoriasText(value=`${categoria.idCategoria}`) #{categoria.nombre}

        input.btn.btn-primary.py-3.px-5(id="submit" ,type='submit', value='Aceptar')
