doctype html
html(lang='es')
  head
    title Inventario
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900', rel='stylesheet')
    link(rel='stylesheet', href='/css/open-iconic-bootstrap.min.css')
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='/css/owl.carousel.min.css')
    link(rel='stylesheet', href='/css/owl.theme.default.min.css')
    link(rel='stylesheet', href='/css/magnific-popup.css')
    link(rel='stylesheet', href='/css/aos.css')
    link(rel='stylesheet', href='/css/ionicons.min.css')
    link(rel='stylesheet', href='/css/bootstrap-datepicker.css')
    link(rel='stylesheet', href='/css/jquery.timepicker.css')
    link(rel='stylesheet', href='/css/flaticon.css')
    link(rel='stylesheet', href='/css/icomoon.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet", href='/css/articulos.css')
    script(src='/js/ckeditor.js')
  body
    nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light
      .container
        a.navbar-brand(href='index.html')
          | Tienda
          span Online
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#ftco-nav', aria-controls='ftco-nav', aria-expanded='false', aria-label='Toggle navigation')
          span.oi.oi-menu
          |  Menú
        #ftco-nav.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='/') Inicio          
              li.nav-item
                a.nav-link(href='/inventario/verInventario') Inventarios
              li.nav-item
                a.nav-link(href='/inventario/crearInventario') Crear Inventario
              li.nav-item
                a.nav-link(href='/logout') Cerrar sesión           
    // END nav
    .hero-wrap(style="background-image: url('/images/bg_1.jpg');", data-stellar-background-ratio='0.5')
      .overlay
      
    section.ftco-section.ftco-no-pt.ftco-no-pb.ftco-volunteer
      .container
        .row
                      
    section.services-section.py-5.py-md-0.bg-light
      .container
        block contenido
                    
              
    footer.ftco-footer.ftco-section
      .container
        
          .col-md-12.text-center
            p
             
              | Copyright ©
              script.
                document.write(new Date().getFullYear());
              |  Todos los derechos reservados | Universidad Catolica de Honduras | Negocios Web | 2019
              
              #ftco-loader.show.fullscreen
                svg.circular(width='48px', height='48px')
                  circle.path-bg(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke='#eeeeee')
                  circle.path(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke-miterlimit='10', stroke='#F96D00')
              script(src='/js/jquery.min.js')
              script(src='/js/jquery-migrate-3.0.1.min.js')
              script(src='/js/popper.min.js')
              script(src='/js/bootstrap.min.js')
              script(src='/js/jquery.easing.1.3.js')
              script(src='/js/jquery.waypoints.min.js')
              script(src='/js/jquery.stellar.min.js')
              script(src='/js/owl.carousel.min.js')
              script(src='/js/jquery.magnific-popup.min.js')
              script(src='/js/aos.js')
              script(src='/js/jquery.animateNumber.min.js')
              script(src='/js/scrollax.min.js')
              script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
              script(src='/js/google-map.js')
              script(src='/js/main.js')